<div class="description">
  <div class="description__article">
      <div class="description__article_column margin_inter_column_text">
        <h2 class="title_secondary">Sécurité évenementiel</h2>
        <p class="description__article_text">Spécialisé dans la sécurité évenementiel depuis 10 ans nous somme capable de nous adapter a vos besoin et de vous fournir une sécurité approprié  par rapport au contrainte réglementaire et légoslatives.
          <br><br>
          Notre expérience démontre en effet qu'en matière d'accueil et de sécurisation d'une manifestation événementielle, une démarche stratégique de préparation et d'anticipation permet de réduire considérablement le niveau de risques, et d'optimiser l'organisation générale de l'événement.</p>
      </div>
    <div class="description__article_column margin_inter_column_img">
      <img src="../../../assets/img/image/agoraPres1.svg" alt="Photo agora présentation">
      <img src="../../../assets/img/image/agoraPres2.svg" alt="Photo agora présentation">
    </div>
  </div>
  <div class="description__article">
  <div class="description__article_column">
      <img src="../../../assets/img/image/agoraPres3.svg" alt="Photo agora présentation">
  </div>
    <div class="description__article_column margin_inter_column_text2">
    <h2 class="title_secondary">Surveillance et <br> Gardiennage</h2>
      <p class="description__article_text">
        Nous sommes capables de vous donner des conseils personnalisée a votre situation : <br>
        Sécurité des biens et des personnes sur sites fermés ou accessibles au public, <br>
        prévention des vols, <br>
        sécurité incendie dans les établissement ERP et IGH, <br>
        contrôle d’accès pour les grands publiques.
      </p>
    </div>
  </div>
</div>
