@import "../../../assets/scss/variable";

.contact{
  overflow: scroll;
  max-height: 75vh;
  &_description{
    font-size: 1.6rem;
  }
  &_information{
    font-size: 1.4rem;
    .span_title{
      font-size: 1.4rem;
      font-weight: 400;
    }
    .span_information{
      font-size: 1.4rem;
      color: $title-red-color;
    }
  }
}
