<div class="contact">
<h2 class="title_secondary">Nos coordonnées</h2>
  <p class="contact_description">Nous nous tenons à votre entière disposition pour répondre à toutes vos demandes de renseignements, conseils ou devis...</p>

  <p class="contact_information">
    <span class="span_title">Téléphone :</span><span class="span_information"> 03.91.84.71.55 </span><br>
    Le standard est ouvert du lundi au vendredi, de 9h à 12h et de 14h à 17h.
    <br> <br>
    <span class="span_title">Fax :</span><span class="span_information"> 03.91.84.71.54</span>
    <br> <br>
    <span class="span_title">Adresses électroniques : </span><br>
    Informations, devis et planification des missions : <span class="span_information">contact@agora-ps.fr</span> <br>
    Emplois, candidatures, dépôts de CV : <span class="span_information">recrutement@agora-ps.fr </span><br>
      Comptabilité et gestion des paies : <span class="span_information">administration@agora-ps.fr</span>
    <br> <br>
    <span class="span_title">Adresse postale : </span><br>
    <span class="span_information">AGORA Protection & Sécurité <br>
    Espace Neptune - 86 rue de la Calypso <br>
      BP 80134 - 62253 HENIN BEAUMONT Cedex <br></span>
    </p>
</div>
