<div class="footer">
  <h1 class="footer_title">Prêt a optimiser votre sécurité <br> et réduire les risques ?</h1>

  <p class="footer_text">Notre rôle en terme d’accompagnement et de conseil est connue et reconnue à ce jour par les institutions et les clients qui nous font confiance.</p>

  <div class="footer_buttons">
    <div>
      <p class="link-contact" (click)="openCompaniesModal()">Nous contacter</p>
    </div>
  </div>
  <div class="footer__mentions">
    <p class="footer__mentions_text">Agora Protéction & Sécurité  2021 - <span (click)="openMentionsModal()">Crédit et Mentions Légales</span></p>
  </div>
</div>
