<div class="page">
  <div class="page_connexion">
    <div class="page_connexion__content">
      <div>
        <img src="../../../assets/img/logo/logo.svg" alt="Logo Agora PS">
      </div>
      <div>
        <p class="title">Connexion</p>
        <form>
          <p class="subtitle">Identifiant</p>
          <input class="input__connexion" type="text">
          <p class="subtitle">Mot de passe</p>
          <input class="input__connexion" type="password">
        </form>
      </div>
      <div class="page_connexion__content__button">
        <a class="link-contact" href="">Valider</a>
      </div>
    </div>
  </div>
</div>
