<div class="presentation__partenaire">
  <div class="presentation">
    <div class="presentation__circle">
      <div class="presentation__circle__line">
        <div class="circle">
          <div class="circle__content">
            <img src="../../../assets/img/icon/puzzle.svg" alt="Icon puzzle">
            <h6>CONSEILS</h6>
            <p>La garantie d'une démarche globale d'analyse du risque</p>
          </div>
        </div>
        <div class="circle">
          <div class="circle__content">
            <img src="../../../assets/img/icon/settings.svg" alt="Icon settings">
            <h6>COMPÉTENCES</h6>
            <p>Un personnel formé pour une large gamme de prestations</p>
          </div>
        </div>
      </div>
      <div class="presentation__circle__line">
        <div class="circle">
          <div class="circle__content">
            <img src="../../../assets/img/icon/rocket.svg" alt="Icon rocket">
            <h6>RÉACTIVITÉ</h6>
            <p>Une capacité à répondre rapidement aux sollicitations</p>
          </div>
        </div>
        <div class="circle">
          <div class="circle__content">
            <img src="../../../assets/img/icon/graph.svg" alt="Icon graph">
            <h6>EXPÉRIENCE</h6>
            <p>Au service de votre protection depuis plus de dix ans</p>
          </div>
        </div>
      </div>
    </div>
    <div class="presentation__text">
      <h2 class="title_secondary">Agora PS</h2>
      <p>Spécialisée dans la sécurité évènementielle, la surveillance humaine et le gardiennage,
        notre société accompagne ses clients et garantit le développement de leur projet.
        Nos personnels formés et qualifiés en accueil, contrôle, palpation, sécurité,
        ainsi que notre équipe d’encadrement expérimentée, sont rapidement mobilisables et opérationnels.
      </p><br>
      <div class="presentation__flex">
        <div class="presentation__button">
          <p class="link-contact" (click)="openCompaniesModal()">Nos événements</p>
        </div>
        <div class="presentation__button">
          <p class="link-contact" (click)="openCompaniesModal()">Nous contacter</p>
        </div>
      </div>
    </div>
  </div>
  <div class="presentation__partenaire_agora">
    <h2 class="title_secondary">Plus de 50 partenaires dans toutes la France</h2>
    <div class="presentation__partenaire_agora__partenaire">
      <img src="./../../../assets/img/partenaire/coup-davis.svg" alt="Logo Coupe Davis 2017 & 2018">
      <img src="./../../../assets/img/partenaire/FFF.svg" alt="Logo de FFF">
      <img src="./../../../assets/img/partenaire/Losc.svg" alt="Logo du Losc">
      <img src="./../../../assets/img/partenaire/rcl.svg" alt="Logo de RCL">
      <img src="./../../../assets/img/partenaire/saint-germain.svg" alt="Logo du Saint-germain">
      <img src="./../../../assets/img/partenaire/UEFA.svg" alt="Logo de UEFA">
    </div>
  </div>
</div>
