
$title-red-color: #B01515;
$button-red-color: #EC4942;
$background-Or-color: #98721A;
$background-grey-color: #EFEFEF;
$font-white-color: #FDFDFD;
$font-grey-color: #C4C4C4;

$background-headfoot: rgba($background-Or-color, 0.30);
