<div class="mentions">
  <h6>Informations administratives</h6>
  <p>SAS Agora Protection & Sécurité <br>

    SAS au capital social de 37 000 € <br>
    RCS Arras : 453 721 052 <br>
    Siret : 453 721 052 000 42 <br>
    APE 801 OZ <br>
    TVA Intracommunautaire : N° FR 954 537 210 52 <br>
    Autorisation administrative : AUT-062-2114-01-07-20140381542 <br>
    « L’autorisation administrative préalable ne confère aucun caractère officiel à l’entreprise ou aux personnes qui en bénéficient. Elle n’engage en aucune manière la responsabilité des pouvoirs publics. »
  </p> <br> <br>
  <h6>Site web</h6>
  <p>
    Le site agora-ps.fr est édité par Agora Protection & Sécurité <br>
    Directeur de la publication : Laurent Toselli <br>
    Tél : 03 91 84 71 55 <br>
    Fax : 03 91 84 71 54
    E-mail : contact@agora-ps.fr <br>
    Siège social : 86 rue de la Calypso BP 80134 – 62253 HENIN BEAUMONT Cedex <br>
    Conception et suivi du projet web : <br>
    Christophe Delattre pour Ynternet.fr <br> <br>
  </p>
  <h6>Gestion des données personnelles</h6> <br>
  <p>Conformément à la loi «Informatique et Libertés » du 6 janvier 1978, les personnes ayant fourni des informations personnelles ont un droit de regard total sur celles-ci. Pour exercer vos droits d’accès et de modification sur ces données, envoyer un courrier électronique à l’adresse suivante : contact@agora-ps.fr . De plus, aucune information personnelle n’est collectée à l’insu des utilisateurs du site, ni cédée à des tiers, ni utilisée à des fins personnelles.
  </p> <br>
  <h6>Propriété intellectuelle</h6> <br>
  <p>L’ensemble de ce site est régi par la législation française sur le droit d’auteur et la propriété intellectuelle. Le contenu du site, incluant, de façon non limitative, les images, graphismes, textes, vidéos, logos, et icônes sont la propriété exclusive de l’éditeur d’agora-ps.fr à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.
    <br> La reproduction, la représentation, le transfert, la distribution, ou l’enregistrement de tout ou partie de ces éléments est formellement interdite sans l’autorisation expresse de l’éditeur d’agora-ps.fr.
  </p> <br>
  <h6>Responsabilité</h6> <br>
  <p>Le contenu mis à disposition sur agora-ps.fr est fourni à titre informatif. L’existence d’un lien de ce site vers un autre site Internet ne constitue pas une validation de ce site Internet ou de son contenu. Il appartient à l’internaute d’utiliser ces informations avec discernement et esprit critique. La responsabilité de l’éditeur d’agora-ps.fr ne saurait être engagée du fait des informations, des opinions et des recommandations formulées par des tiers.
  </p>
</div>
